In [1]:
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression
from sklearn.ensemble import RandomForestClassifier

In [2]:
df=pd.read_csv("Tested.csv")
df.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,892,0,3,"Kelly, Mr. James",male,34.5,0,0,330911,7.8292,NaN,Q
1,893,1,3,"Wilkes, Mrs. James (Ellen Needs)",female,47.0,1,0,363272,7.0000,NaN,S
2,894,0,2,"Myles, Mr. Thomas Francis",male,62.0,0,0,240276,9.6875,NaN,Q
3,895,0,3,"Wirz, Mr. Albert",male,27.0,0,0,315154,8.6625,NaN,S
4,896,1,3,"Hirvonen, Mrs. Alexander (Helga E Lindqvist)",female,22.0,1,1,3101298,12.2875,NaN,S

In [3]:
df.describe()

,PassengerId,Survived,Pclass,Age,SibSp,Parch,Fare
count,418.000000,418.000000,418.000000,332.000000,418.000000,418.000000,417.000000
mean,1100.500000,0.363636,2.265550,30.272590,0.447368,0.392344,35.627188
std,120.810458,0.481622,0.841838,14.181209,0.896760,0.981429,55.907576
min,892.000000,0.000000,1.000000,0.170000,0.000000,0.000000,0.000000
25%,996.250000,0.000000,1.000000,21.000000,0.000000,0.000000,7.895800
50%,1100.500000,0.000000,3.000000,27.000000,0.000000,0.000000,14.454200
75%,1204.750000,1.000000,3.000000,39.000000,1.000000,0.000000,31.500000
max,1309.000000,1.000000,3.000000,76.000000,8.000000,9.000000,512.329200

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 418 entries, 0 to 417
Data columns (total 12 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   PassengerId  418 non-null    int64
 1   Survived     418 non-null    int64
 2   Pclass       418 non-null    int64
 3   Name         418 non-null    object
 4   Sex          418 non-null    object
 5   Age          332 non-null    float64
 6   SibSp        418 non-null    int64
 7   Parch        418 non-null    int64
 8   Ticket       418 non-null    object
 9   Fare         417 non-null    float64
 10  Cabin        91 non-null     object
 11  Embarked     418 non-null    object
dtypes: float64(2), int64(5), object(5)
memory usage: 39.3+ KB

In [5]:
df.drop(['PassengerId','Name','Ticket','Cabin','Embarked'],inplace=True,axis=1)

In [6]:
df

     Survived  Pclass     Sex   Age  SibSp  Parch      Fare
0           0       3    male  34.5      0      0    7.8292
1           1       3  female  47.0      1      0    7.0000
2           0       2    male  62.0      0      0    9.6875
3           0       3    male  27.0      0      0    8.6625
4           1       3  female  22.0      1      1   12.2875
..        ...     ...     ...   ...    ...    ...       ...
413         0       3    male   NaN      0      0    8.0500
414         1       1  female  39.0      0      0  108.9000
415         0       3    male  38.5      0      0    7.2500
416         0       3    male   NaN      0      0    8.0500
417         0       3    male   NaN      1      1   22.3583

[418 rows x 7 columns]

In [7]:
df.fillna(df['Age'].mean(),inplace=True)
df['Age'].tail()

413    30.27259
414    39.00000
415    38.50000
416    30.27259
417    30.27259
Name: Age, dtype: float64

In [8]:
df.fillna(df['Fare'].mean(),inplace=True)
df.head()

   Survived  Pclass     Sex   Age  SibSp  Parch     Fare
0         0       3    male  34.5      0      0   7.8292
1         1       3  female  47.0      1      0   7.0000
2         0       2    male  62.0      0      0   9.6875
3         0       3    male  27.0      0      0   8.6625
4         1       3  female  22.0      1      1  12.2875

In [10]:
from sklearn.preprocessing import LabelEncoder
labelencoder = LabelEncoder()
df['Sex']= labelencoder.fit_transform(df['Sex'])
df.head()

   Survived  Pclass  Sex   Age  SibSp  Parch     Fare
0         0       3    0  34.5      0      0   7.8292
1         1       3    1  47.0      1      0   7.0000
2         0       2    0  62.0      0      0   9.6875
3         0       3    0  27.0      0      0   8.6625
4         1       3    1  22.0      1      1  12.2875

In [13]:
x=df[['Sex','Pclass','Age','Fare','SibSp','Parch']]
y=df['Survived']

In [14]:
print(x,y)

     Sex  Pclass       Age      Fare  SibSp  Parch
0      0       3  34.50000    7.8292      0      0
1      1       3  47.00000    7.0000      1      0
2      0       2  62.00000    9.6875      0      0
3      0       3  27.00000    8.6625      0      0
4      1       3  22.00000   12.2875      1      1
..   ...     ...       ...       ...    ...    ...
413    0       3  30.27259    8.0500      0      0
414    1       1  39.00000  108.9000      0      0
415    0       3  38.50000    7.2500      0      0
416    0       3  30.27259    8.0500      0      0
417    0       3  30.27259   22.3583      1      1

[418 rows x 6 columns] 0      0
1      1
2      0
3      0
4      1
      ..
413    0
414    1
415    0
416    0
417    0
Name: Survived, Length: 418, dtype: int64

In [46]:
train_x,test_x,train_y,test_y=train_test_split(x,y,random_state=0,test_size=0.20)

In [47]:
model=LogisticRegression()

In [48]:
model.fit(train_x,train_y)

LogisticRegression()

In [49]:
pre=model.predict(test_x)
pre

array([0, 0, 1, 0, 1, 0, 1, 0, 0, 0, 1, 1, 0, 0, 0, 0, 1, 0, 1, 1, 0, 1,
       0, 0, 0, 0, 1, 0, 0, 0, 1, 1, 1, 1, 1, 0, 0, 1, 1, 1, 1, 0, 1, 1,
       0, 1, 0, 0, 0, 0, 0, 1, 1, 0, 0, 1, 0, 1, 0, 0, 0, 1, 1, 0, 0, 1,
       1, 1, 1, 0, 0, 1, 1, 1, 1, 0, 0, 1, 0, 1, 0, 1, 0, 0], dtype=int64)

In [50]:
from sklearn.metrics import r2_score

In [54]:
model.score(test_x,test_y)

1.0

In [55]:
re=RandomForestClassifier()

In [56]:
re.fit(train_x,train_y)

RandomForestClassifier()

In [63]:
re.score(test_x,test_y)

1.0

In [64]:
a=re.predict(test_x)
a

array([0, 0, 1, 0, 1, 0, 1, 0, 0, 0, 1, 1, 0, 0, 0, 0, 1, 0, 1, 1, 0, 1,
       0, 0, 0, 0, 1, 0, 0, 0, 1, 1, 1, 1, 1, 0, 0, 1, 1, 1, 1, 0, 1, 1,
       0, 1, 0, 0, 0, 0, 0, 1, 1, 0, 0, 1, 0, 1, 0, 0, 0, 1, 1, 0, 0, 1,
       1, 1, 1, 0, 0, 1, 1, 1, 1, 0, 0, 1, 0, 1, 0, 1, 0, 0], dtype=int64)